@model Abc.Northwind.Mvc.WebUI.Models.CartSummaryViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "List";
}

<h2>List</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Product name</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Units In Stock</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cart.Cartlines)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.Product.UnitPrice</td>
                <td>@item.Product.UnitsInStock</td>
                <td>@item.Quantity</td>
                <td><a class="btn btn-xs btn-danger" asp-controller="Cart" asp-action="Remove" asp-route-productId="@item.Product.ProductId" role="button"><i class="bi bi-trash-fill"></i> Remove</a></td>
            </tr>
        }
    </tbody>
</table>
<h2>Total</h2>
<div class="alert alert-primary" role="alert">
    Basket Amount=@Model.Cart.Total
</div>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <a role="button" asp-controller="Cart" asp-action="Complete" class="btn btn-xs align-right btn-warning"><i class="bi bi-bag-check-fill"></i> Go To Checkout</a>
    <a role="button" asp-controller="Product" asp-action="List" class="btn btn-xs align-right btn-success"><i class="bi bi-cart-fill"></i> Contine Shopping</a>
</div>
